
@model IEnumerable<LMS.Model.ViewModel.Employee.LeaveDetailsViewModel>
<style>
    .buttons-excel {
        margin: 0px 0px -36px 170px;
    }

    th, td {
        white-space: nowrap !important;
    }

    #leavetbl_filter {
        margin-top: -4%;
    }
</style>

<div class="row">
    <div class="col-sm-12" style="overflow:auto;">
        <div class="table-responsive">
            <table class="table table-hover table-striped table-bordered" id="leavetbl">
                <thead>
                    <tr>
                        <th class="text-center">Sr</th>
                        <th class="text-center">StartDate</th>
                        <th class="text-center">EndDate</th>
                        <th class="text-center">CreatedDate</th>
                        <th class="text-center">LeaveType</th>
                        <th class="text-center">Status</th>
                        <th class="text-center">Remarks</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        @foreach (var item in (Model).Select((x, i) => new { data = x, index = i + 1 }))
                        {
                            <tr>
                                <td>@item.index</td>
                                <td  class="text-center" >
                                    @item.data.StartDate
                                </td>
                                <td class="text-center" >@item.data.EndDate</td>
                                <td class="text-center" >@item.data.CreatedDate</td>
                                <td class="text-center" >@item.data.LeaveType</td>
                                <td class="text-center" >@item.data.LeaveStatus</td>
                                <td class="text-center" >@item.data.Remarks</td>
                            </tr>
                        }
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {        
        let tbl = $('#leavetbl');        
        tbl.DataTable({
            dom: 'blfrtip',
            buttons: [
                {
                    extend: 'excelhtml5',
                    title: 'All Leave Data'
                }
            ],
            order: [[0, 'asc']]
        });        
        let tb = tbl.DataTable();
        
        if (!tb.data().count()) {
            $('#leavetbl').DataTable().fndestroy();
            $('#leavetbl').DataTable({
                searching: false
            })
        } else {
            $('.buttons-excel').html('export data');
            $('.buttons-excel').addClass("btn btn-primary");
            $('.buttons-excel').addClass("exportdatatablbtn");
        }

    });
</script>
